<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Содержание</title>
</head>
<body>
    <h3>Содержание</h3>
    <ul>
        <li>/api/v1/create/     - POST, добавление записи о перевале в БД cо статусом "Новый"</li>
        <li>/api/v1/submitData/{id}     - GET, просмотр информации о перевале</li>
        <li>/api/v1/submitData/{email}/     - GET, просмотр всех записей пользователя</li>
        <li>/api/v1/update/{id}     - PUT, изменение статуса записи модератором</li>
        <li>/api/v1/submitData/update/{id}      - GET, PUT, изменение (просмотр) записи пользователем</li>
        <li>/api/v1/perevals/   - GET, просмотр всех id записей</li>
    </ul>
</body>
</html>